<!DOCTYPE html>
<html>
    <head>
        <title>Photo Gallery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon"
              type="image/png"
              href="https://s-media-cache-ak0.pinimg.com/originals/a9/e0/19/a9e01984a9cdadd57b0fd3e0985fb2fc.png">
        <script src="https://use.fontawesome.com/3c2bdfb862.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link rel="stylesheet" href="styles/css/main-processed.css"/>
        <!-- <link rel="stylesheet" href="styles/css/main.css"/> -->
    </head>
    <body>

    <div class="title-container" v-bind:class="{'faded': titleFaded}" id="title-container">
        <h2 class="title-container__title">Photo Gallery</h2>
        <h3 class="title-container__author">By Sebastian Ramirez-Brunner</h3>
    </div>

    <div id="root" class="container">

        <gallery-container>
            <div class="image-view" v-bind:class="{'load-hidden': pageNotLoaded}">
                <div v-for="(image, index) in images" class="image-view__image-container"
                v-bind:class="{selected: image.selected, 'next-image': image.next, 'previous-image': image.previous}" v-if="image.src">
                    <img :src="image.src" alt="placeholder+image" class="image-view__image">
                </div>
                <div class="image-view__overlay"></div>
            </div>

            <!-- <div class="gallery-bullets">
                <div class="gallery-bullets__bullet" v-for="(image, index) in images" v-bind:class="{'gallery-bullets__bullet--selected': image.selected}"></div>
            </div> -->

            <div class="gallery-controls">
                <div class="gallery-controls__arrow previous-arrow" @click="previousPhoto"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="gallery-bullets">
                    <div class="gallery-bullets__bullet" v-for="(image, index) in images" v-bind:class="{'gallery-bullets__bullet--selected': image.selected}"></div>
                </div>
                <div class="gallery-controls__arrow next-arrow" @click="nextPhoto"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
            <!-- <div class="gallery-bullets">
                <div class="gallery-bullets__bullet" v-for="(image, index) in images" v-bind:class="{'gallery-bullets__bullet--selected': image.selected}"></div>
            </div> -->

        </gallery-container>

        <info-card>
            <div class="info-card__content" v-for="(image, index) in images" v-bind:class="{'info-card__content--shown': image.selected}">
                <p class="info-card__content-caption"><span>Name:</span>{{image.name}}</p>
                <p class="info-card__content-caption"><span>Location:</span>{{image.location}}</p>
                <p class="info-card__content-caption"><span >Date:</span>{{image.date}}</p>
            </div>
        </info-card>
    </div>

    <p class="header__photo-info-button">
        <i class="fa fa-info" aria-hidden="true"></i>
    </p>
    <div class="header__photo-info-popup">
        All photos taken by and property of Sebastian Ramirez-Brunner
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.3.3"></script>
    <script src="./js/main.js"></script>
    </body>
</html>
