* {
  box-sizing: border-box;
}

body,
html,
main {
  height: 100%;
  width: 100%;
}

body {
  max-width: 1500px;
  font-size: 1.2em;
  font-family: "Roboto", Arial;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 60px 40px;
  background: radial-gradient(circle, white, rgba(181, 181, 181, 0.3));
  color: #010138;
}
@media screen and (max-width: 750px) {
  body {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 550px) {
  body {
    padding: 60px 15px;
  }
}
@media screen and (max-width: 400px) {
  body {
    padding: 60px 15px 30px;
  }
}

.title-container {
  position: relative;
  top: -10px;
  transition: opacity .4s;
}
@media screen and (max-width: 850px) {
  .title-container {
    text-align: center;
    margin-top: 45px;
  }
}
@media screen and (max-width: 550px) {
  .title-container {
    margin-top: 55px;
  }
}
@media screen and (max-width: 450px) {
  .title-container {
    margin-top: 63px;
  }
}

.title-container__title {
  margin: 0 0 20px;
  font-size: 1.9em;
  opacity: .8;
}
@media screen and (max-width: 550px) {
  .title-container__title {
    margin: 0 0 15px;
    font-size: 1.7em;
  }
}

.title-container__author {
  font-size: .9em;
  margin: 0;
  color: #f94c0c;
}

.title-container.faded {
  opacity: .2;
}

div#root {
  width: 100%;
  height: auto;
  margin: 0 0 30px;
}
div#root .gallery-container {
  width: 100%;
  height: 100%;
}
div#root .image-view {
  position: relative;
  display: block;
  min-height: 620px;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 850px) {
  div#root .image-view {
    margin-top: 0;
    min-height: 550px;
  }
}
@media screen and (max-width: 600px) {
  div#root .image-view {
    min-height: 480px;
  }
}
@media screen and (max-width: 450px) {
  div#root .image-view {
    min-height: 410px;
  }
}
@media screen and (max-width: 400px) {
  div#root .image-view {
    min-height: 400px;
  }
}
div#root .image-view__image-container {
  position: absolute;
  width: 52%;
  box-shadow: 0 0px 15px 0px gray;
  min-width: 600px;
  transition: opacity .4s, transform .6s;
  transform: translateX(-50%) scale(0) translateY(-80%);
  opacity: 0;
  left: 50%;
  top: 50%;
}
div#root .image-view__image-container.selected {
  transition: opacity .5s ease, transform 1s;
  opacity: 1;
  transform: translateX(-50%) scale(1) translateY(-50%);
  z-index: 20;
}
div#root .image-view__image-container.next-image {
  transition: opacity 1s, transform 1s;
  opacity: 0.3;
  transform: translateX(60%) scale(0.6) translateY(-80%);
}
@media screen and (max-width: 1100px) {
  div#root .image-view__image-container.next-image {
    transform: translateX(50%) scale(0.6) translateY(-80%);
  }
}
div#root .image-view__image-container.previous-image {
  transition: opacity 1s, transform 1s;
  opacity: 0.3;
  transform: translateX(-160%) scale(0.6) translateY(-80%);
}
@media screen and (max-width: 1100px) {
  div#root .image-view__image-container.previous-image {
    transform: translateX(-150%) scale(0.6) translateY(-80%);
  }
}
@media screen and (max-width: 850px) {
  div#root .image-view__image-container {
    width: 85%;
  }
}
@media screen and (max-width: 750px) {
  div#root .image-view__image-container {
    width: 95%;
    min-width: 450px;
  }
}
@media screen and (max-width: 550px) {
  div#root .image-view__image-container {
    width: 100%;
    min-width: 100px;
  }
}
div#root .image-view__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery-controls {
  height: 55px;
  width: 65%;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto 30px;
}
@media screen and (max-width: 850px) {
  .gallery-controls {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .gallery-controls {
    width: 90%;
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .gallery-controls {
    height: 45px;
  }
}

.gallery-controls__arrow {
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  cursor: pointer;
  background: rgba(1, 1, 56, 0.3);
}
.gallery-controls__arrow:hover {
  background: rgba(1, 1, 56, 0.7);
}

i.fa.fa-angle-right,
i.fa.fa-angle-left {
  font-size: 2.8em;
  color: white;
}
@media screen and (max-width: 600px) {
  i.fa.fa-angle-right,
  i.fa.fa-angle-left {
    font-size: 2.3em;
  }
}

.gallery-bullets {
  width: 35%;
  height: 25px;
  margin: 20px auto 45px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.gallery-bullets .gallery-bullets__bullet {
  flex: 1;
  height: 15px;
  background: rgba(1, 1, 56, 0.3);
  transition: background-color .3s;
}
.gallery-bullets .gallery-bullets__bullet:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.gallery-bullets .gallery-bullets__bullet:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gallery-bullets .gallery-bullets__bullet--selected {
  background-color: #f94c0c;
}
@media screen and (max-width: 850px) {
  .gallery-bullets {
    width: 55%;
  }
}
@media screen and (max-width: 550px) {
  .gallery-bullets {
    width: 65%;
  }
}

.info-card {
  position: fixed;
  top: 0;
  right: -50%;
  transition: right .7s ease;
  background: rgba(1, 1, 56, 0.4);
  color: #010138;
  width: 50%;
  height: 58px;
  font-size: 0.9em;
  font-weight: bolder;
  z-index: 50;
}
.info-card i {
  color: #f94c0c;
  font-size: 3em;
  transition: transform .3s;
  transform: rotateZ(0deg) translate(0);
  overflow: hidden;
}
.info-card.show-card {
  right: 0;
}
.info-card.show-card i {
  transform: rotateZ(-180deg) translate(0);
  transition: transform .3s;
}
.info-card .info-card__close {
  position: absolute;
  z-index: 10;
  left: -45px;
  border: none;
  background: rgba(1, 1, 56, 0.6);
  height: 58px;
  width: 45px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 850px) {
  .info-card .info-card__close {
    font-size: .7em;
    height: 50px;
    background: #010138;
  }
}
.info-card .info-card__content {
  opacity: 0;
  transition: all .3s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.info-card .info-card__content--shown {
  opacity: 1;
}
.info-card .info-card__content-caption {
  width: auto;
  margin: 0 auto;
}
.info-card .info-card__content-caption span {
  display: block;
  color: white;
  font-size: .8em;
  margin-bottom: 1px;
}
@media screen and (max-width: 850px) {
  .info-card .info-card__content-caption {
    color: #f94c0c;
    font-weight: bolder;
  }
}
@media screen and (max-width: 450px) {
  .info-card .info-card__content-caption {
    font-weight: lighter;
  }
}
@media screen and (max-width: 850px) {
  .info-card {
    font-size: .8em;
    height: 50px;
    background: rgba(1, 1, 56, 0.6);
  }
}
@media screen and (max-width: 750px) {
  .info-card {
    font-size: .75em;
    width: 80%;
    right: -80%;
  }
}
@media screen and (max-width: 450px) {
  .info-card {
    font-size: .70em;
  }
}

.header__photo-info-button {
  position: fixed;
  font-size: 1em;
  padding: 10px;
  border-radius: 50%;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  width: 35px;
  height: 35px;
  color: rgba(249, 76, 12, 0.6);
  border: 3px solid #f94c0c;
  bottom: 30px;
  left: 30px;
  -webkit-transition: color .2s 0s, border .2s 0s, left .4s 2.5s;
  transition: color .2s 0s, border .2s 0s, left .4s 2.5s;
}
.header__photo-info-button .fa {
  font-size: .90em;
}
.header__photo-info-button:hover {
  color: #010138;
  border-color: #010138;
}
@media screen and (max-width: 850px) {
  .header__photo-info-button {
    display: none;
  }
}

.header__photo-info-button:hover + .header__photo-info-popup {
  opacity: 1;
  z-index: 20;
}

.header__photo-info-button.load-hidden {
  left: -100%;
}

.header__photo-info-popup {
  position: fixed;
  opacity: 0;
  transition: all .3s;
  bottom: 30px;
  width: auto;
  background: rgba(249, 76, 12, 0.82);
  color: white;
  font-weight: bold;
  left: 77px;
  padding: 10px;
  font-size: .8em;
  border-radius: 3px;
  z-index: -10;
}

/*# sourceMappingURL=main.css.map */
