// $mobileBreakpoint:

* {
    box-sizing: border-box;
}

body,
html,
main {
    height: 100%;
    width: 100%;
}

body {
    max-width: 1500px;
    font-size: 1.2em;
    font-family: "Roboto", Arial;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 60px 40px;
    background: radial-gradient(circle, white, rgba(181, 181, 181, 0.3));
    color: $primary-color;

    @media screen and (max-width: $breakpoint-small-medium) {
        padding: 60px 20px;
    }

    @media screen and (max-width: $breakpoint-extra-small) {
        padding: 60px 15px;
    }

    @media screen and (max-width: $breakpoint-smallest) {
        padding: 60px 15px 30px;
    }
}

