// colors
$primary-color: #010138;
$secondary-color: #f94c0c;
$secondary-color-muted: #d4643b;
$hover-highlight: white;


//breakpoints
$breakpoint-large: 1100px;

$breakpoint-medium: 850px;

$breakpoint-small-medium: 750px;

$breakpoint-small: 600px;

$breakpoint-extra-small: 550px;

$breakpoint-extra-extra-small: 500px;

$breakpoint-450: 450px;

$breakpoint-smallest: 400px;
